In [1]:
s = 'welcome to india'

In [2]:
s

'welcome to india'

In [3]:
s[1]

'e'

In [5]:
s.capitalize()

'Welcome to india'

In [7]:
a = 'e' in 'hello'

b = 'e' not in 'hello'

print(a,b)

True False

In [7]:
s.count('o')

2

In [2]:
str = 'welcome to india'
print('str = ', str)

print('str[0] = ', str[0])

print('str[-1] = ', str[-1])

print('str[1:5] = ', str[1:5])

print('str[5:-2] = ', str[5:-2])

str =  welcome to india
str[0] =  w
str[-1] =  a
str[1:5] =  elco
str[5:-2] =  me to ind

In [11]:
' '.join(s)

'w e l c o m e   t o   i n d i a'

In [13]:
print(f'hello {s}')

hello welcome to india

In [14]:
s

'welcome to india'

In [15]:
x = 5
y = 4

In [16]:
x > y

True

In [17]:
x < y

False

In [18]:
x // y

1

In [1]:
# loops - 1.for ,2.while

In [2]:
for i in 'hello':
    print(i)

h
e
l
l
o

In [3]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [4]:
for i in range(1,11):
    print(i , end=' ')

1 2 3 4 5 6 7 8 9 10

In [5]:
t = 3

for i in range(1,11):
    print(i * t)

3
6
9
12
15
18
21
24
27
30

In [6]:
for i in range(1,11):
    print(f'{t} * {i} = {t * i}')

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [7]:
for i in range(1,44,3):
    print(i)

1
4
7
10
13
16
19
22
25
28
31
34
37
40
43

In [8]:
for i in range(11,1,-1):
    print(i)

11
10
9
8
7
6
5
4
3
2

In [9]:
for i in range(11,1,-1):
    print(i ,end=' ')

11 10 9 8 7 6 5 4 3 2

In [10]:
for i in range(1,11):
    print('*' * i)

*
**
***
****
*****
******
*******
********
*********
**********

In [11]:
i = 0
while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

In [12]:
ord('v')

118

In [13]:
name = 'vishal'

for i in name:
    print(ord(i))

118
105
115
104
97
108

In [14]:
name

'vishal'

In [15]:
for i in name:
    print(i)

v
i
s
h
a
l

In [16]:
for i in name:
    print(ord(i),chr(ord(i)))

118 v
105 i
115 s
104 h
97 a
108 l

In [17]:
ord('a')

97

In [18]:
ord('z')

122

In [19]:
# convert to upper
for i in name:
    print(ord(i)-32 , chr(ord(i)-32))

86 V
73 I
83 S
72 H
65 A
76 L

In [20]:
#convert to lower
name ='VISHAL'

for i in name:
    print(ord(i)+32 , chr(ord(i)+32))

118 v
105 i
115 s
104 h
97 a
108 l

In [21]:
name = 'vishal'

for i in name:
    if ord(i) > 97 and ord(i) < 122:
        print('already in lowercase')
else:
    print(name)

already in lowercase
already in lowercase
already in lowercase
already in lowercase
already in lowercase
vishal

In [22]:
name = 'vishal'

for i in name:
    if ord(i) > 97 and ord(i) < 122:
        print('already in lowercase')
        break
else:
    print(name)

already in lowercase

In [23]:
name = 'vishal'

for i in name:
    if ord(i) > 97 and ord(i) < 111:
        print('already in lowercase')
else:
    print('not lowercase')

already in lowercase
already in lowercase
already in lowercase
not lowercase

In [24]:
for i in range(1,11):
    if i == 5:
        break
    print(i)

1
2
3
4

In [25]:
for i in range(11):
    print(i)
    if i ==5:
        break

0
1
2
3
4
5

In [26]:
for i in 'hello':
    if i == 'l':
        continue
    print(i)

h
e
o

In [27]:
for i in range(1,11):
    pass

In [28]:
string = 'welcome to india'
f = 'o'

for i in string:
    if i == f:
        break
    print(i)

w
e
l
c

In [29]:
c = 0
string = 'welcome to india'
f = 'o'

for i in string:
    if i == f:
        c += 1
else:
    print(c)

2

In [30]:
for i in range(1,11):
    print('$ '  * i)

$
$ $
$ $ $
$ $ $ $
$ $ $ $ $
$ $ $ $ $ $
$ $ $ $ $ $ $
$ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $

In [31]:
for i in range(11):
    print('$ ' * (10 - i))

$ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $
$ $ $ $ $ $ $
$ $ $ $ $ $
$ $ $ $ $
$ $ $ $
$ $ $
$ $
$

In [32]:
for i in range(11):
    print('$ ' * (10 - i) + '  ' * i + '  ' * i + '$ ' *(10 - i) +'      ' +'$ ' * (10 - i) + '  ' * i + '  ' * i + '$ ' *(10 - i))

$ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $       $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $     $ $ $ $ $ $ $ $ $       $ $ $ $ $ $ $ $ $     $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $         $ $ $ $ $ $ $ $       $ $ $ $ $ $ $ $         $ $ $ $ $ $ $ $
$ $ $ $ $ $ $             $ $ $ $ $ $ $       $ $ $ $ $ $ $             $ $ $ $ $ $ $
$ $ $ $ $ $                 $ $ $ $ $ $       $ $ $ $ $ $                 $ $ $ $ $ $
$ $ $ $ $                     $ $ $ $ $       $ $ $ $ $                     $ $ $ $ $
$ $ $ $                         $ $ $ $       $ $ $ $                         $ $ $ $
$ $ $                             $ $ $       $ $ $                             $ $ $
$ $                                 $ $       $ $                                 $ $
$                                     $       $                                     $

In [33]:
for i in range(11):
    print('$ ' * (10 - i) + '  ' * i + '  ' * i + '$ ' *(10 - i) +'      ' +'$ ' * (10 - i) + '  ' * i + '  ' * i + '$ ' *(10 - i))
for i in range(11):
    print('$ ' * (10 - i) + '  ' * i + '  ' * i + '$ ' *(10 - i) +'      ' +'$ ' * (10 - i) + '  ' * i + '  ' * i + '$ ' *(10 - i))

$ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $       $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $     $ $ $ $ $ $ $ $ $       $ $ $ $ $ $ $ $ $     $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $         $ $ $ $ $ $ $ $       $ $ $ $ $ $ $ $         $ $ $ $ $ $ $ $
$ $ $ $ $ $ $             $ $ $ $ $ $ $       $ $ $ $ $ $ $             $ $ $ $ $ $ $
$ $ $ $ $ $                 $ $ $ $ $ $       $ $ $ $ $ $                 $ $ $ $ $ $
$ $ $ $ $                     $ $ $ $ $       $ $ $ $ $                     $ $ $ $ $
$ $ $ $                         $ $ $ $       $ $ $ $                         $ $ $ $
$ $ $                             $ $ $       $ $ $                             $ $ $
$ $                                 $ $       $ $                                 $ $
$                                     $       $                                     $

$ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $       $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $     $ $ $ $ $ $ $ $ $       $ $ $ $ $ $ $ $ $     $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $         $ $ $ $ $ $ $ $       $ $ $ $ $ $ $ $         $ $ $ $ $ $ $ $
$ $ $ $ $ $ $             $ $ $ $ $ $ $       $ $ $ $ $ $ $             $ $ $ $ $ $ $
$ $ $ $ $ $                 $ $ $ $ $ $       $ $ $ $ $ $                 $ $ $ $ $ $
$ $ $ $ $                     $ $ $ $ $       $ $ $ $ $                     $ $ $ $ $
$ $ $ $                         $ $ $ $       $ $ $ $                         $ $ $ $
$ $ $                             $ $ $       $ $ $                             $ $ $
$ $                                 $ $       $ $                                 $ $
$                                     $       $                                     $

In [34]:
for i in range(11):
    print('$  ' * i + '$  ' * i)

$  $
$  $  $  $
$  $  $  $  $  $
$  $  $  $  $  $  $  $
$  $  $  $  $  $  $  $  $  $
$  $  $  $  $  $  $  $  $  $  $  $
$  $  $  $  $  $  $  $  $  $  $  $  $  $
$  $  $  $  $  $  $  $  $  $  $  $  $  $  $  $
$  $  $  $  $  $  $  $  $  $  $  $  $  $  $  $  $  $
$  $  $  $  $  $  $  $  $  $  $  $  $  $  $  $  $  $  $  $

In [35]:
t = 6

for i in range((t+11)):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16

In [36]:
t = int(input('enter your number'))

for i in range(1,11):
    print(f'{t} * {i} = {t * i}')

enter your number3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [37]:
l = [22,35,46,2,21,1,2,3,4,2,32,1,2,312,2]

l2 = list()

for i in l:
  if i not in l2:
    l2.append(i)
else:
  print(l2)

[22, 35, 46, 2, 21, 1, 3, 4, 32, 312]