In [1]:
# loops - 1.for ,2.while

In [2]:
for i in 'hello':
    print(i)

h
e
l
l
o

In [4]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [5]:
for i in range(1,11):
    print(i , end=' ')

1 2 3 4 5 6 7 8 9 10

In [6]:
t = 3

for i in range(1,11):
    print(i * t)

3
6
9
12
15
18
21
24
27
30

In [8]:
for i in range(1,11):
    print(f'{t} * {i} = {t * i}')

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [9]:
for i in range(1,44,3):
    print(i)

1
4
7
10
13
16
19
22
25
28
31
34
37
40
43

In [10]:
for i in range(11,1,-1):
    print(i)

11
10
9
8
7
6
5
4
3
2

In [11]:
for i in range(11,1,-1):
    print(i ,end=' ')

11 10 9 8 7 6 5 4 3 2

In [2]:
for i in range(1,11):
    print('*' * i)

*
**
***
****
*****
******
*******
********
*********
**********

In [4]:
i = 0
while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

In [1]:
ord('v')

118

In [2]:
name = 'vishal'

for i in name:
    print(ord(i))

118
105
115
104
97
108

In [3]:
name

'vishal'

In [4]:
for i in name:
    print(i)

v
i
s
h
a
l

In [5]:
for i in name:
    print(ord(i),chr(ord(i)))

118 v
105 i
115 s
104 h
97 a
108 l

In [6]:
ord('a')

97

In [10]:
ord('z')

122

In [8]:
# convert to upper
for i in name:
    print(ord(i)-32 , chr(ord(i)-32))

86 V
73 I
83 S
72 H
65 A
76 L

In [9]:
#convert to lower
name ='VISHAL'

for i in name:
    print(ord(i)+32 , chr(ord(i)+32))

118 v
105 i
115 s
104 h
97 a
108 l

In [12]:
name = 'vishal'

for i in name:
    if ord(i) > 97 and ord(i) < 122:
        print('already in lowercase')
else:
    print(name)

already in lowercase
already in lowercase
already in lowercase
already in lowercase
already in lowercase
vishal

In [19]:
name = 'vishal'

for i in name:
    if ord(i) > 97 and ord(i) < 122:
        print('already in lowercase')
        break
else:
    print(name)

already in lowercase

In [22]:
name = 'vishal'

for i in name:
    if ord(i) > 97 and ord(i) < 111:
        print('already in lowercase')
else:
    print('not lowercase')

already in lowercase
already in lowercase
already in lowercase
not lowercase

In [23]:
for i in range(1,11):
    if i == 5:
        break
    print(i)

1
2
3
4

In [24]:
for i in range(11):
    print(i)
    if i ==5:
        break

0
1
2
3
4
5

In [26]:
for i in 'hello':
    if i == 'l':
        continue
    print(i)

h
e
o

In [30]:
for i in range(1,11):
    pass

In [32]:

string = 'welcome to india'
f = 'o'

for i in string:
    if i == f:
        break
    print(i)

w
e
l
c

In [35]:
c = 0
string = 'welcome to india'
f = 'o'

for i in string:
    if i == f:
        c += 1
else:
    print(c)

2

In [37]:
for i in range(1,11):
    print('$ '  * i)

$
$ $
$ $ $
$ $ $ $
$ $ $ $ $
$ $ $ $ $ $
$ $ $ $ $ $ $
$ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $

In [38]:
for i in range(11):
    print('$ ' * (10 - i))

$ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $
$ $ $ $ $ $ $
$ $ $ $ $ $
$ $ $ $ $
$ $ $ $
$ $ $
$ $
$

In [47]:
for i in range(11):
    print('$ ' * (10 - i) + '  ' * i + '  ' * i + '$ ' *(10 - i) +'      ' +'$ ' * (10 - i) + '  ' * i + '  ' * i + '$ ' *(10 - i))

$ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $       $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $     $ $ $ $ $ $ $ $ $       $ $ $ $ $ $ $ $ $     $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $         $ $ $ $ $ $ $ $       $ $ $ $ $ $ $ $         $ $ $ $ $ $ $ $
$ $ $ $ $ $ $             $ $ $ $ $ $ $       $ $ $ $ $ $ $             $ $ $ $ $ $ $
$ $ $ $ $ $                 $ $ $ $ $ $       $ $ $ $ $ $                 $ $ $ $ $ $
$ $ $ $ $                     $ $ $ $ $       $ $ $ $ $                     $ $ $ $ $
$ $ $ $                         $ $ $ $       $ $ $ $                         $ $ $ $
$ $ $                             $ $ $       $ $ $                             $ $ $
$ $                                 $ $       $ $                                 $ $
$                                     $       $                                     $

In [60]:
for i in range(11):
    print('$ ' * (10 - i) + '  ' * i + '  ' * i + '$ ' *(10 - i) +'      ' +'$ ' * (10 - i) + '  ' * i + '  ' * i + '$ ' *(10 - i))
for i in range(11):
    print('$ ' * (10 - i) + '  ' * i + '  ' * i + '$ ' *(10 - i) +'      ' +'$ ' * (10 - i) + '  ' * i + '  ' * i + '$ ' *(10 - i))

$ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $       $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $     $ $ $ $ $ $ $ $ $       $ $ $ $ $ $ $ $ $     $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $         $ $ $ $ $ $ $ $       $ $ $ $ $ $ $ $         $ $ $ $ $ $ $ $
$ $ $ $ $ $ $             $ $ $ $ $ $ $       $ $ $ $ $ $ $             $ $ $ $ $ $ $
$ $ $ $ $ $                 $ $ $ $ $ $       $ $ $ $ $ $                 $ $ $ $ $ $
$ $ $ $ $                     $ $ $ $ $       $ $ $ $ $                     $ $ $ $ $
$ $ $ $                         $ $ $ $       $ $ $ $                         $ $ $ $
$ $ $                             $ $ $       $ $ $                             $ $ $
$ $                                 $ $       $ $                                 $ $
$                                     $       $                                     $

$ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $       $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $     $ $ $ $ $ $ $ $ $       $ $ $ $ $ $ $ $ $     $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $         $ $ $ $ $ $ $ $       $ $ $ $ $ $ $ $         $ $ $ $ $ $ $ $
$ $ $ $ $ $ $             $ $ $ $ $ $ $       $ $ $ $ $ $ $             $ $ $ $ $ $ $
$ $ $ $ $ $                 $ $ $ $ $ $       $ $ $ $ $ $                 $ $ $ $ $ $
$ $ $ $ $                     $ $ $ $ $       $ $ $ $ $                     $ $ $ $ $
$ $ $ $                         $ $ $ $       $ $ $ $                         $ $ $ $
$ $ $                             $ $ $       $ $ $                             $ $ $
$ $                                 $ $       $ $                                 $ $
$                                     $       $                                     $

In [62]:
for i in range(11):
    print('$  ' * i + '$  ' * i)

$  $
$  $  $  $
$  $  $  $  $  $
$  $  $  $  $  $  $  $
$  $  $  $  $  $  $  $  $  $
$  $  $  $  $  $  $  $  $  $  $  $
$  $  $  $  $  $  $  $  $  $  $  $  $  $
$  $  $  $  $  $  $  $  $  $  $  $  $  $  $  $
$  $  $  $  $  $  $  $  $  $  $  $  $  $  $  $  $  $
$  $  $  $  $  $  $  $  $  $  $  $  $  $  $  $  $  $  $  $

In [67]:
t = 6

for i in range((t+11)):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16

In [75]:
t = int(input('enter your number'))

for i in range(1,11):
    print(f'{t} * {i} = {t * i}')

enter your number2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [76]:
t = int(input('enter your number'))

for i in range(1,11):
    print(f'{t} * {i} = {t * i}')

enter your number5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [77]:
l = [22,35,46,2,21,1,2,3,4,2,32,1,2,312,2]

l2 = list()

for i in l:
  if i not in l2:
    l2.append(i)
else:
  print(l2)

[22, 35, 46, 2, 21, 1, 3, 4, 32, 312]