In [5]:
# W.A.P to find greater and less than number using If_else 
x = int(input('enter a number : '))
y = int(input('enter a number : '))

if x < y :
    print(x, 'less than is', y)
else :
    print(x, 'greater than is', y)

enter a number : 2
enter a number : 5
2 less than is 5

In [6]:
# WAP to print each fruit in list using simple for loop. List1 (apple,banana,mango) 

list1 = ['apple', 'banana', 'mango']

for l in list1:
    print(l)

apple
banana
mango

In [11]:
#  Print this pattern using nested for Loop.

for i in range(1, 6):
    print(i * '$')

$
$$
$$$
$$$$
$$$$$

In [12]:
# W.A.P to skip the (Banana) from the list using Continue Statement List1 - (apple,banana,mango)

list1 = ['apple', 'banana', 'mango']

for i in list1:
    if i == 'banana':
        continue
    print(i)

apple
mango

In [15]:
# W.A.P to break the for loop when (Banana) get in if Condition.

list1 = ['apple', 'banana', 'mango']

for i in list1:
    if i == 'banana':
        break
    print(i)

apple

In [16]:
#  W.A.P to print (Hello) using string 

print('hello')

hello

In [17]:
# W.A.P to allocate the string to a variable

string = 'hello'
print(string)

hello

In [18]:
# W.A.P to print String using three quotes 

string = '''hello'''
print(string)

hello

In [19]:
#  W.A.P to access the 1st position character using index value.

string = 'hello'
print(string[0])

h

In [22]:
# W.A.P to Access the string after the index value 1.

string = 'hello'
print(string[1:])

ello

In [23]:
#  W.A.P to Access the string before the index value 5.
 
string = 'helloo'
print(string[:5])

hello

In [24]:
#  W.A.P to Access the String between the index value 1 to 4

string = 'helloo'
print(string[1:4])

ell

In [25]:
# W.A.P to print the string from the last index value.

string = 'hello'
print(string[-1])

o

In [37]:
# W.A.P to print the String alternate character after the index value 1.

string = 'hello'
s = ''
for i in range(len(string)):
    if i % 2 == 0:
        s += string[i]
print(s)

hlo

In [63]:
#  W.A.P create the list of multiple datatype element

list1 = [1, 2.5, 'hello', (1,2), {1,2,3}]
print(list1)

[1, 2.5, 'hello', (1, 2), {1, 2, 3}]

In [65]:
# ) W.A.P to find the length of the list.

print(len(list1))

5

In [74]:
# W.A.P to update the list using the insert() and append() 

list2 = list()
list2.append(4)
print(list2)
list2.insert(0,2)
print(list2)

[4]
[2, 4]

In [2]:
# W.A.P to remove the element using the pop() and remove()

l = [1,2,3,4,5]
print(l.pop())

5

In [4]:
print(remove(l))

NameError: name 'remove' is not defined