In [1]:
def name():
    print('vishal')

In [2]:
name()

vishal

In [3]:
type(name)

function

In [4]:
a = name()

vishal

In [5]:
a

In [6]:
def name():
    return 'vishal'

In [7]:
name()

'vishal'

In [10]:
type(name)

function

In [14]:
def name():
    return 'vishal'

In [15]:
name()

'vishal'

In [16]:
type(name)

function

In [17]:
a = name()

In [18]:
a

'vishal'

In [19]:
type(a)

str

In [20]:
def name():
    print('vishal')

In [21]:
name()

vishal

In [22]:
type(name)

function

In [23]:
a = name()

vishal

In [25]:
type(a)

NoneType

In [26]:
def hello(name):
    print(name)

In [27]:
hello('vishal')

vishal

In [33]:
def hello(name):
    return name

In [36]:
hello('vi')

vi

In [40]:
def hello(name):
    return f'hello {name}'

In [41]:
hello('vishal')

'hello vishal'

In [44]:
def add(x ,y):
    return x + y

In [46]:
add(5 ,5)

10

In [49]:
def add(x ,y):
    return x - y

In [50]:
add(5, 2)

3

In [1]:
def func(*number):
    print(number)

In [2]:
func(1,2,3,4)

(1, 2, 3, 4)

In [3]:
func()

()

In [6]:
func('name')

('name',)

In [7]:
def func(**number):
    print(number)

In [12]:
func(n=2)

{'n': 2}

In [13]:
def func(**number):
    return number

In [14]:
func(n=2)

{'n': 2}

In [15]:
# positional argument

def func(name, age):
    print(f'my name is {name} and i am {age} years old')

In [16]:
func('vishal',22)

my name is vishal and i am 22 years old

In [20]:
def func(name, age, city, mobile, degree, course):
    print(f'''my name is {name} and I am {age} years old and my {city} city and
          my degree is {degree} and my course in {course} in ahmedabad''')
          
func('vishal',22,'ahmedabad',7887,'B.sc chemistry','data analytics')

my name is vishal and I am 22 years old and my ahmedabad city and
          my degree is B.sc chemistry and my course in data analytics in ahmedabad

In [21]:
# keyword argument

def func(name, age, city, mobile, degree, course):
    print(f'''my name is {name} and I am {age} years old and my {city} city and
          my degree is {degree} and my course in {course} in ahmedabad''')

func(mobile=7887, name='vishal', age=22, city='ahmedabad', course= 'data analytics', degree='B.sc chemistry')

my name is vishal and I am 22 years old and my ahmedabad city and
          my degree is B.sc chemistry and my course in data analytics in ahmedabad

In [25]:
# default argument

def func(name, age, city=None):
    if city:
        print(name, age, city)
    else:
        print(name, age)

func('vishal', 22)

vishal 22

In [26]:
def func(name, age, city=None):
    if city:
        print(name, age, city)
    else:
        print(name, age)

func('vishal', 22, 'ahmedabad')

vishal 22 ahmedabad

In [30]:
s = 'hello'

In [33]:
for i in s:
    print(i, end=' ')

h e l l o

In [34]:
print(*s)

h e l l o

In [36]:
[*s]

['h', 'e', 'l', 'l', 'o']

In [48]:
def func():
    return 'hello'

In [49]:
func()

'hello'

In [50]:
a = func()

In [51]:
a

'hello'

In [53]:
[*a]

['h', 'e', 'l', 'l', 'o']

In [56]:
# arbitrary keyword argument list - **kwargs

def func(**name):
    print(name)
    
func(name='vishal')

{'name': 'vishal'}

In [66]:
def func(age,**name):
    a = {'age':age}
    
    a.update(name)
    return a

func(22, name='vishal')

{'age': 22, 'name': 'vishal'}

In [67]:
def func(x, y, *num):
    s = x + y
    for i in num:
        s += i
        
        return s
    
func(1,4,6,7,3)

11

In [5]:
def func(x,y, * a):
    s = x + y
    for i in a:
        s += i
        
        return s
    
func(46,27,5)

78

In [6]:
def func():
    print('hello python')
    
func()

hello python

In [7]:
def func():
    return 'hello python'

func()

'hello python'

In [8]:
def func():
    x = 'hello'
    print(x)
    
func()

hello

In [9]:
def func():
    x = 'hello'
    return x

func()

'hello'

In [10]:
def func():
    x = 5
    y = 4
    print(x + y)
    print(x - y)
    
func()

9
1

## func

In [13]:
def func():
    t = int(input('enter number'))
    for i in range(1,11):
        print(f'{t} * {i} = {t * i}')
        
func()

enter number3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [21]:
def func(a, b,):
    print('a:',a,'b:',b)
    
func(1,2)

a: 1 b: 2

In [1]:
def func():
    print('hello')
    print('python')
    
func()

hello
python

In [3]:
def func():
    return('hello')
    return('python')
    
func()

'hello'

In [4]:
def hello(name):
    print(name + ' ' + 'are you fine')
    
hello(input('enter your name'))

enter your namevishal
vishal are you fine

In [5]:
def hello(name):
    print(name + ' ' + 'are you fine')
    print('hello ' + name +' are you fine' )
    
hello(input('enter your name'))

enter your namevishal
vishal are you fine
hello vishal are you fine

In [2]:
def hello(name, age, mobile):
    print('my name is: ' + name )
    print('my age is: ' + age)
    print('my mobile no.is: ' + mobile)
    
hello(input('enter your name : '),input('enter your age: '),input('enter your mobile: '))

enter your name : vishal
enter your age: 22
enter your mobile: 7887
my name is: vishal
my age is: 22
my mobile no.is: 7887

In [1]:
def hello(name, age, mobile):
    print('my name is: ' + name )
    print('my age is: ' + age)
    print('my mobile no.is: ' + mobile)
    
hello(input('enter your name : '),input('enter your age'),input('enter your mobile'))

enter your name : vishal
enter your age22
enter your mobile7887
my name is: vishal
my age is: 22
my mobile no.is: 7887

In [ ]:
def hello(name,age,mobile)